@model EC.Web.Models.UserAddViewModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">Add User</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("AddUser", "User"))
    {

        <label for="firstName">User's first name:</label>
        @Html.EditorFor(u => u.FirstName)<br />

        <label for="middleName">User's middle name:</label>
        @Html.EditorFor(u => u.MiddleName)<br />

        <label for="lastName">User's last name:</label>
        @Html.EditorFor(u => u.LastName)<br />

        <label for="birthdate">User's birthdate:</label>
        @Html.TextBoxFor(u => u.BirthDate, new { type = "date"})<br />

        <label for="workplace">User's workplace:</label>
        @Html.EditorFor(u => u.Workplace)<br />

        <label>User's post:</label>
        @Html.DropDownListFor(u => u.UserPostId, ViewBag.Posts as MultiSelectList);<br />

        <label for="email">User's email:</label>
        @Html.EditorFor(u => u.Email)<br />

        <label for="login">User's login:</label>
        @Html.EditorFor(u => u.Login)<br />

        <label for="pass">User's pass:</label>
        @Html.EditorFor(u => u.Password)<br />

        <label>User's role:</label>
        @Html.DropDownListFor(u => u.UserRoleId, ViewBag.Roles as MultiSelectList);<br />

        <label for="email">User's phone:</label>
        @Html.EditorFor(u => u.Phone)<br />

        <input type="submit" value="Add user" />
    }
</div>