@model IEnumerable<EC.Common.Models.User>

@{
    ViewBag.Title = "GeAllUsers";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<h2>GeAllUsers</h2>

<div class="content">
    <h2 class="center-elements">Users</h2>
    <a href="~/User/AddUser">Add new user</a>
    @foreach (var user in Model)
    {
        <div class="bordered-content">
            <p>@user.FirstName @user.LastName @user.MiddleName</p>
            <p>@user.BirthDate.ToString("d")</p>
            @Html.ActionLink("Edit", "GetUserByLogin", new { login = user.Login })<br />
            @Html.ActionLink("Delete", "DeleteUserAndHisPhone", new { userId = user.UserId })
        </div>
    }
</div>