@model EC.Web.Models.UserUpdateViewModel
@{
    ViewBag.Title = "GetUserByLogin";
    Layout = "~/Views/_EditorHeader.cshtml";
}

<div class="content">
    <h2 class="center-elements">Edit User</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm("UpdateUser", "User"))
    {
        <input type="text" name="userId" value="@Model.UserId" hidden />

        <label for="firstName">User's first name:</label>
        @Html.EditorFor(u => u.FirstName)<br />

        <label for="middleName">User's middle name:</label>
        @Html.EditorFor(u => u.MiddleName)<br />

        <label for="lastName">User's last name:</label>
        @Html.EditorFor(u => u.LastName)<br />

        <label for="birthdate">User's birthdate:</label>
        <input type="date" name="birthdate" value="@Model.BirthDate.ToString("yyyy-MM-dd")" /><br />

        <label for="workplace">User's workplace:</label>
        @Html.EditorFor(u => u.Workplace)<br />

        <label for="email">User's email:</label>
        @Html.EditorFor(u => u.Email)<br />

        <label for="post">User's post:</label>
        @Html.DropDownListFor(u => u.UserPostId, ViewBag.Posts as MultiSelectList);<br />

        <input type="submit" value="Update user" />
    }
</div>